@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100; 1.200;1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.div-header {
    min-width: 400px;
    max-width: 1500px;
}

body {
    background-color: rgb(255, 255, 255);
}

.img1-logo {
    width: 130px;
}



a {
    text-decoration: none;
    color: green;
    padding: 6px;
}

a:hover {
    background-color: rgba(66, 122, 57, 0.556);
    border-radius: 5vh;
    color: white;

}

ul,
li {
    width: 70%;
    justify-content: space-around;
    display: flex;
    padding: 6px;
    align-items: center;
    float: right;


}

ul {
    box-shadow: 5px 4px 6px -2px rgba(128, 128, 128, 0.492);
    margin-top: -35px;
    margin-right: 10px;
}

.div-main {
    min-width: 400px;
    max-width: 1500px;
}

.div-img-fundo {
    position: absolute;
    top: 130px;
    left: 150px;
}


.title1 {
    position: absolute;
    top: 170px;
    right: 500px;
    font-size: 3em;
    font-family: 'anton';
    font-style: normal;
    font-weight: 200;


}

.title2 {
    position: absolute;
    top: 240px;
    right: 450px;
    font-family: 'anton';
    font-style: normal;
    font-weight: 200;
}

.title-paragrafo {
    position: absolute;
    top: 300px;
    right: 300px;
    text-align: justify;
}

.div-img-01 {
    position: absolute;
    right: 40px;
    top: 120px;

}

.img-01 {
    width: 300px;
}

.footer-text {
    text-align: justify;
    position: absolute;
    top: 70%;
    left: 100px;
    margin-bottom: 30px;

}

.footer-img {
    width: 300px;
    position: absolute;
    top: 57%;
    left: 500px;
}

.div-logo2 {
    position: absolute;
    top: 57%;
    right: 230px;
}

.logo2 {
    width: 300px;
}






.hidden {
    display: none;
}

#dropdownButton {
    padding: 5px 25px;
    font-size: 16px;
    cursor: pointer;
}

#dropdownList {

    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #becfb2;
    width: 200px;
}

#dropdownList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#dropdownList li:hover {
    background-color: #6ad72776;
}