.img1-logo{
   
    width: 122px;
}
header{
    box-shadow: 2px 2px 2px 2px green;
    border-radius: 2vh;
    max-width: 500px;
    margin: auto;
}
body{
    background-color: rgba(29, 139, 36, 0.297);
}
ul{
    justify-content: space-around;
   
    display: flex;
max-width: 350px;
  margin: auto;
 
}
li{
    margin: 15px;
    list-style: none;
    text-align: center;
    display: flex;
  
}
a{
text-decoration: none;
background-color: rgba(78, 99, 70, 0.226);
color: rgb(0, 0, 0);
border-radius: 5vh;
padding: 6px;
}

.img1{
float: right;
display: flex;
}
.title1{
text-align: center;
}

.title2{
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
}